
#game-title{
	width:300px;
	height:50px;
	background-color: brown;
}
#rules{
	width:450px;
	height:250px;
	background-color: yellow;
}	
.crystals{
	align-items: center;
	height:100px;
	width: 900px;
}

.crystal{
	display: inline-block;
	height:100px;
	width: 100px;
}
#result{
	width:450px;
	height:50px;
	background-color: aquamarine;
}
#result p{
	font-size: 40px;
}
